.header__button{
    box-sizing: border-box;
    color: #1890ff;
    width: 109px;
    height: 51px;
    border: none; 
    // padding: 6px 18px 10px;
    outline: none; 
    background: none;
    cursor: pointer;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    
    &:hover{
        color: #52C41A;
        border: 1px solid #52C41A;
        border-radius: 5px;
        transition: color 0.2s, border 0.2s, ;
    }
}